<mat-card>
<h4>Select City</h4>
<form #tempForm="ngForm" (ngSubmit)= 'onSubmit()'> 
 <mat-form-field>
  <mat-select placeholder ="Select City" [(ngModel)]= "cityInput"
                            name="cityInput">
        
    <mat-option *ngFor="let city of cities" [value]="city.city">
      {{city.city}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Update Temperature</h4>
<mat-form-field class="example-full-width">
    <input matInput placeholder="What is the temperature?" [(ngModel)]= "tempInput"
                                    name="tempInput"
                                    required 
                                    #temp = "ngModel">
  </mat-form-field>

  <div>
  <button mat-raised-button color="primary" [disabled]>Submit</button>
</div>

</form>
</mat-card>